:root {
    --dark-blue: #276d9a;
    --light-blue: #65c2d4;
    --white: #FFFFFF;
}

@font-face {
    font-family: geomanist;
    src: url(../font/geomanist-regular-webfont.eot);
    src: url(../font/geomanist-regular-webfont.eot?#iefix) format('embedded-opentype'),
         url(../font/geomanist-regular-webfont.woff2) format('woff2'),
         url(../font/geomanist-regular-webfont.woff) format('woff'),
         url(../font/geomanist-regular-webfont.ttf) format('truetype'),
         url(../font/geomanist-regular-webfont.svg#geomanist) format('svg');
    font-weight: normal;
    font-style: normal;
}

*, *::after, *::before {
    font-family: geomanist, serif;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1170px;
    padding: 2em 1em;
}

.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
}

.parallax > .parallax_group {
    position: relative;
    transform-style: preserve-3d;
}

.parallax > .parallax_group > .parallax_layer {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax > .parallax_group > .background_layer {
    transform: translateZ(-300px) scale(2.1);
}

#hero > .background_layer {
    background-image: url("../img/ZB_1.jpg");
    background-color: var(--dark-blue);
    background-blend-mode: multiply;
    background-size: cover;
}

#hero {
    height: 100vh;
    z-index: 0;
}

#slogan {
    z-index: 50;
}

#about {
    z-index: 0;
}

#slogan > .content_layer {
    background-color: rgb(255, 255, 255);
}

#about > .background_layer {
    background-color: orchid;
}

#application {}

#application > .background_layer {
    background-color: greenyellow;
}