:root {
    --light: hsl(194, 100%, 62%);
    --blue: hsl(194, 100%, 42%);
    --dark: hsl(194, 97%, 22%);
    --font-size: 16px;
}

@font-face {
    font-family: geomanist-light;
    src: url(../font/Geomanist-Light-Webfont/geomanist-light-webfont.eot);
    src: url(../font/Geomanist-Light-Webfont/geomanist-light-webfont.eot?#iefix) format('embedded-opentype'),
         url(../font/Geomanist-Light-Webfont/geomanist-light-webfont.woff2) format('woff2'),
         url(../font/Geomanist-Light-Webfont/geomanist-light-webfont.woff) format('woff'),
         url(../font/Geomanist-Light-Webfont/geomanist-light-webfont.ttf) format('truetype'),
         url(../font/Geomanist-Light-Webfont/geomanist-light-webfont.svg#geomanist) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: geomanist-regular;
    src: url(../font/Geomanist-Regular-Webfont/geomanist-regular-webfont.eot);
    src: url(../font/Geomanist-Regular-Webfont/geomanist-regular-webfont.eot?#iefix) format('embedded-opentype'),
         url(../font/Geomanist-Regular-Webfont/geomanist-regular-webfont.woff2) format('woff2'),
         url(../font/Geomanist-Regular-Webfont/geomanist-regular-webfont.woff) format('woff'),
         url(../font/Geomanist-Regular-Webfont/geomanist-regular-webfont.ttf) format('truetype'),
         url(../font/Geomanist-Regular-Webfont/geomanist-regular-webfont.svg#geomanist) format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: geomanist-bold;
    src: url(../font/Geomanist-Bold-Webfont/geomanist-bold-webfont.eot);
    src: url(../font/Geomanist-Bold-Webfont/geomanist-bold-webfont.eot?#iefix) format('embedded-opentype'),
         url(../font/Geomanist-Bold-Webfont/geomanist-bold-webfont.woff2) format('woff2'),
         url(../font/Geomanist-Bold-Webfont/geomanist-bold-webfont.woff) format('woff'),
         url(../font/Geomanist-Bold-Webfont/geomanist-bold-webfont.ttf) format('truetype'),
         url(../font/Geomanist-Bold-Webfont/geomanist-bold-webfont.svg#geomanist) format('svg');
         font-weight: normal;
    font-style: normal;
}


html {
    height: 100vh;
    overflow: hidden;
    font-size: var(--font-size);
}

body{
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: geomanist-regular, serif;
}

header {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header > .half {
    width: 50%;
    padding: 0.5em;
}

header > .left {
    text-align: right;
}

header > .right {
    text-align: left;
}

header img {
    max-height: 15em;
}

header p {
    color: hsl(0, 0%, 100%);
    font-size: 3.5em;
    margin: 0;
    overflow: hidden;
    font-family: geomanist-bold, serif;
    line-height: 1em;
    width: 100%;
}

header #part_1 {
    animation: part1 4s steps(60, end);
}
@keyframes part1{ 
    from { width: 0; } 
} 

header #part_2 {
    animation: part2 6s steps(60, end);
}
@keyframes part2{ 
    0% { width: 0; }
    25% { width: 0; }
    100% { width: 100; } 
} 

header #part_3 {
    animation: part3 9s steps(60, end);
}
@keyframes part3{ 
    0% { width: 0; }
    45% { width: 0; }
    100% { width: 100; } 
} 

@media (max-width: 650px) {
    header > .left {
        text-align: center;
    }
    header > .right {
        display: none;
    }
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../img/hero_bg.jpg");
    background-size: cover;
    transform: translateZ(-1px) scale(2.1);
    z-index: -1;
}

strong {
    font-family: geomanist-bold, serif;
}

.slogan {
    text-align: center;
}

 h1 {
    font-family: geomanist-light, serif;
    font-size: 2em;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bar-white {
    width: 100%;
    color: var(--blue);
    background-color: hsl(0, 0%, 100%);
}

.bar-bg {
    width: 100%;
    color: hsl(0, 0%, 100%);
    background-size: cover;
    background-position: center;
}

.bar-bg1 {
    background-image: url("../img/bg1.jpg");
}

.bar-bg2 {
    background-image: url("../img/bg2.jpg");
}

.bar-bg a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-family: geomanist-bold, serif;
}

.bar-bg a:hover {
    color: var(--light);
    text-decoration: none;
    font-family: geomanist-bold, serif;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 5em auto;
    box-sizing: border-box;
    padding: 0em 1em;
}

#footer {
    display: flex;
}

@media (max-width: 481px) {
    #footer {
        flex-direction: column;
    }
}

#footer > div  {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#footer a {
    color: var(--blue);
    font-size: 2em;
    font-family: geomanist-bold, serif;
    text-decoration: none;

}

#footer a:hover {
    color: var(--dark);
}

#footer .logo {
    background-image: url("../img/rebel_logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: calc(7 * var(--font-size));
    height: calc(2 * var(--font-size));
}

#footer .st0 {
    fill: var(--blue);
}